.wy-side-nav-search {
    background-color: #4d4d4d;
}

.wy-nav-side {
    background: #4d4d4d;
    color: #4d4d4d;
}

.wy-nav-content { 
    max-width: inherit;
}

.wy-nav-top {
    background-color: #4d4d4d
}

.wy-menu > .caption > span.caption-text {
  color: #baa7d1;
}

